
:root{
  --bg-pila: rgb(255, 255, 255);
  --bord-pila: 10px;
  --pila-vacia: #158CBA;
  --pila-llena: rgb(255, 255, 0);
}

#container1 {
    box-shadow: inset 0 1px 0 #444, 0 -1px 0 #000;
    background: #000;
  }
  
  span.texto{
   font-size: 18px !important;
   font-weight: bold;
 }
  label.texto{
   font-size: 18px !important;
   font-weight: bold;
 }

 
 div.pila-top1{
   height: 13px;
   width: 40px;
   background-color: var(--bg-pila);
 
   font-size: 2em;
   font-weight: 800;
 }
 div.pila-top{
   height: 50px;
   width: 90px;
   background-color: var(--pila-vacia);
   border-left:  var(--bord-pila) solid var(--bg-pila);
   border-right:   var(--bord-pila) solid var(--bg-pila);
   border-top:   var(--bord-pila) solid var(--bg-pila);
   font-size: 2em;
   font-weight: 800;
 }
 div.pila{
   height: 50px;
   width: 90px;
   background-color: var(--pila-vacia);
   border-left:   var(--bord-pila) solid var(--bg-pila);
   border-right:   var(--bord-pila) solid var(--bg-pila);
   font-size: 2em;
   font-weight: 800;
 }
 div.pila-bot{
   height: 50px;
   width: 90px;
   background-color: var(--pila-llena);
   border-left:   var(--bord-pila) solid var(--bg-pila);
   border-right:   var(--bord-pila) solid var(--bg-pila);
   border-bottom:   var(--bord-pila) solid var(--bg-pila);
   font-size: 2em;
   font-weight: 800;
 }

 td.carretera{
   height: 50px;
   width: 50px;
   background-color: rgb(107, 107, 107);
   border-left:  5px dashed yellow;
   border-right:  5px dashed yellow;
   font-size: 2em;
   font-weight: 800;
 }
 td.c-izq{
   height: 50px;
   width: 50px;
   background-color: rgb(107, 107, 107);
   border-top:  5px dashed yellow;
   border-left:  5px dashed yellow;
   font-size: 2em;
   font-weight: 800;
 }
 td.c-der{
   height: 50px;
   width: 50px;
   background-color: rgb(107, 107, 107);
   border-right:  5px dashed yellow;
   border-top:  5px dashed yellow;
   font-size: 2em;
   font-weight: 800;
 }
 td.c-cen{
   height: 50px;
   width: 50px;
   background-color: rgb(107, 107, 107);
   border-bottom:  5px dashed yellow;
   font-size: 2em;
   font-weight: 800;
 }
td > img{
  width: 40px;
  height: 40px;
}
hr.bg{
  color: white !important;
  height: 5px;
}